<launch>
  <node pkg="rosserial_python" name="serial_node_1" type="serial_node.py">
	<param name="~port" value="/dev/ttyACM0"/>
	<param name="~baud" value="57600"/>
	<!-- ACM0が左目に繋がっている場合は以下をコメントイン -->
	<!-- <param name="~mode_right" value="0"/> -->
	<!-- ACM0が右目に繋がっている場合は以下をコメントイン -->
	<param name="~mode_right" value="1"/>
  </node>

  <node pkg="rosserial_python" name="serial_node_2" type="serial_node.py">
	<param name="~port" value="/dev/ttyACM1"/>
	<param name="~baud" value="57600"/>
	<!-- ACM1が左目に繋がっている場合は以下をコメントイン -->
	<param name="~mode_right" value="0"/>
	<!-- ACM1が右目に繋がっている場合は以下をコメントイン -->
	<!-- <param name="~mode_right" value="1"/> -->
  </node>

  <node pkg="rosserial_python" name="serial_node_3" type="serial_node.py">
	<param name="~port" value="/dev/ttyACM2"/>
	<param name="~baud" value="9600"/>
  </node>
</launch>
